In [2]:
-

In [3]:
new_base = pd.read_csv("https://raw.githubusercontent.com/bkreis84/Portfolio-Challenge/master/full_combine.csv")

In [4]:
#List of all ticker symbols
symbols = new_base['Symbol'].drop_duplicates()
symbols.head(10)

0     AAPL
1    AGTHX
2     AMZN
3      CHE
4     DOCU
5    GSGRX
6     ICLN
7    OEGAX
8     PBFS
9      QQQ
Name: Symbol, dtype: object

# Simple Comparison (Initial vs Current Value) START HERE TO UPDATE

In [5]:
#Select date to compare to initial prices
cur_prices = stockData(list(symbols), '2020-05-29', '2020-05-29')

CVRS
UTX
PIR
ECA
BBT
RTN
CELG

In [6]:
cur_prices.sort_values("Symbol", inplace = True)
cur_prices.drop_duplicates(subset = "Symbol", inplace = True)

In [7]:
cur_prices.to_csv("cur_prices.csv")

In [25]:
#cur_prices= pd.read_csv("https://raw.githubusercontent.com/bkreis84/Portfolio-Challenge/master/cur_prices.csv")
#cur_prices.head()

         Date Symbol       Close         Day
0  2019-09-27    AAL   27.010000  2019-09-27
1  2019-09-27   AAPL  218.820007  2019-09-27
2  2019-09-27    ACB    4.620000  2019-09-27
3  2019-09-27   ACER    3.300000  2019-09-27
4  2019-09-27   ACST    1.960000  2019-09-27

In [8]:
detail = pd.merge(new_base, cur_prices, how = 'left', on = "Symbol", validate="many_to_one")

In [9]:
detail.head()

,Unnamed: 0,Port_Num,New Cost Basis,Name,Symbol,% of Portfolio,Cost Basis,Close_x,Day_x,# of Shares,initial_basis,Close_y,Day_y
0,0,1,194413.7192,Adrienne Villano,AAPL,0.07,14000.0,213.259995,2019-09-06 00:00:00,65.647568,200000,360.059998,2020-06-24
1,1,1,194413.7192,Adrienne Villano,AGTHX,0.11,22000.0,50.000000,2019-09-06 00:00:00,440.000000,200000,53.970001,2020-06-24
2,2,1,194413.7192,Adrienne Villano,AMZN,0.07,14000.0,1833.510010,2019-09-06 00:00:00,7.635628,200000,2734.399902,2020-06-24
3,3,1,194413.7192,Adrienne Villano,CHE,0.18,36000.0,439.820007,2019-09-06 00:00:00,81.851665,200000,445.000000,2020-06-24
4,4,1,194413.7192,Adrienne Villano,DOCU,0.05,10000.0,56.270000,2019-09-06 00:00:00,177.714589,200000,163.910004,2020-06-24

In [10]:
detail['Current_Value'] = detail['Close_y'] * detail['# of Shares']
detail['Perc_Return'] = detail['Close_y']/detail['Close_x']  -1
detail.head(5)

,Unnamed: 0,Port_Num,New Cost Basis,Name,Symbol,% of Portfolio,Cost Basis,Close_x,Day_x,# of Shares,initial_basis,Close_y,Day_y,Current_Value,Perc_Return
0,0,1,194413.7192,Adrienne Villano,AAPL,0.07,14000.0,213.259995,2019-09-06 00:00:00,65.647568,200000,360.059998,2020-06-24,23637.063189,0.688362
1,1,1,194413.7192,Adrienne Villano,AGTHX,0.11,22000.0,50.000000,2019-09-06 00:00:00,440.000000,200000,53.970001,2020-06-24,23746.800537,0.079400
2,2,1,194413.7192,Adrienne Villano,AMZN,0.07,14000.0,1833.510010,2019-09-06 00:00:00,7.635628,200000,2734.399902,2020-06-24,20878.859907,0.491347
3,3,1,194413.7192,Adrienne Villano,CHE,0.18,36000.0,439.820007,2019-09-06 00:00:00,81.851665,200000,445.000000,2020-06-24,36423.991026,0.011778
4,4,1,194413.7192,Adrienne Villano,DOCU,0.05,10000.0,56.270000,2019-09-06 00:00:00,177.714589,200000,163.910004,2020-06-24,29129.198921,1.912920

In [11]:
detail.to_csv("pt2-detail.csv")

### Individual Performance

In [12]:
ranking = detail.groupby("Name")['Current_Value'].sum().reset_index().sort_values("Current_Value", ascending=False)

In [13]:
ranking['Perc_Return'] = ranking['Current_Value']/200000 -1
ranking['Rank'] = ranking['Perc_Return'].rank(ascending=False)
ranking.head(50)

                   Name  Current_Value  Perc_Return  Rank
44       Randy Benedict   1.672387e+06     7.361937   1.0
41         Pete Lindner   1.615066e+06     7.075329   2.0
21    Gregory Hanselman   2.758056e+05     0.379028   3.0
22    Jacqueline Lorenz   2.732300e+05     0.366150   4.0
18       Eli Rabinowitz   2.603193e+05     0.301596   5.0
9     Bradley Bonfante    2.501775e+05     0.250887   6.0
36      Marie Barkamian   2.463181e+05     0.231590   7.0
12         Colton Young   2.303499e+05     0.151749   8.0
14        Danish Sharpe   2.278384e+05     0.139192   9.0
2      Alisa Cianfarini   2.241830e+05     0.120915  10.0
39         Nick Capullo   2.206287e+05     0.103143  11.0
0      Adrienne Villano   2.133192e+05     0.066596  12.0
49       Sharon Strock    2.057367e+05     0.028684  13.0
6    Antigona Beshello    2.007527e+05     0.003763  14.0
38      Melissa Stamper   1.969063e+05    -0.015469  15.0
35          Lyn Wiltsie   1.946098e+05    -0.026951  16.0
48        Schuyler Bull   1.937004e+05    -0.031498  17.0
1      Alexandra Sautin   1.908735e+05    -0.045633  18.0
16       Deanna Coleman   1.856505e+05    -0.071747  19.0
27         Karen Koster   1.811202e+05    -0.094399  20.0
19         Elise Shaver   1.804206e+05    -0.097897  21.0
33            Kwun Chan   1.727065e+05    -0.136468  22.0
50     Sherlock Bacchus   1.699444e+05    -0.150278  23.0
29      Kimberly Matzen   1.696462e+05    -0.151769  24.0
7           Barb Derian   1.672049e+05    -0.163976  25.0
51           Sue Dymond   1.639703e+05    -0.180148  26.0
5      Anil Mulchandani   1.532118e+05    -0.233941  27.0
52       Teresa Purcell   1.514206e+05    -0.242897  28.0
28      Kelly Nicholson   1.470871e+05    -0.264564  29.0
26       Joseph Lindner   1.452507e+05    -0.273746  30.0
37          Mark Jewell   1.428354e+05    -0.285823  31.0
31       Kristen Kiefer   1.383770e+05    -0.308115  32.0
34      Luke Scarchilli   1.381805e+05    -0.309098  33.0
25      Joelean Mcbride   1.380876e+05    -0.309562  34.0
45         Rekha Singh    1.367939e+05    -0.316030  35.0
32  Kristyn Constantino   1.273426e+05    -0.363287  36.0
20       Estelle Genest   1.172872e+05    -0.413564  37.0
43       Philip Cortese   1.131130e+05    -0.434435  38.0
53         Trudy Seeber   1.087528e+05    -0.456236  39.0
23     Jennah Hebert V1   1.050466e+05    -0.474767  40.0
13      Dan Cancelliere   1.029027e+05    -0.485486  41.0
15           David Hunn   1.015808e+05    -0.492096  42.0
42          Peter Odell   9.212214e+04    -0.539389  43.0
10          Brian Kreis   8.943155e+04    -0.552842  44.0
8         Beth Phillips   8.254163e+04    -0.587292  45.0
4      Angela Macmurray   7.655946e+04    -0.617203  46.0
30          Krista Nash   7.356068e+04    -0.632197  47.0
3    Angela Cannistraci   7.339004e+04    -0.633050  48.0
11  Caitlyn Fronckowiak   7.227368e+04    -0.638632  49.0
17       Dominick Baker   5.880556e+04    -0.705972  50.0

In [13]:
ranking.to_csv("individual rankings.csv")

### Best Individual Stock Returns

In [14]:
best_stocks = detail.drop_duplicates(['Symbol']).reset_index().sort_values(['Perc_Return'], ascending=False)

In [15]:
best_stocks = best_stocks.loc[:, ['Symbol', 'Perc_Return']]
best_stocks.head(10)

    Symbol  Perc_Return
203   SUMR    18.189189
201   AMRH     8.431818
77     CHK     6.411392
204   SGBX     4.650224
178     PW     2.144828
184   BILI     2.072575
202   POAI     2.050848
157   PLUG     1.922780
4     DOCU     1.912920
170   DDOG     1.742485

In [16]:
best_stocks.to_csv("stock ranking.csv")

# Trend

In [ ]:
#Pull Only necessary columns
combined = combined.loc[:, ['Name', 'Symbol', '# of Shares']]

In [ ]:
Price_History = stockData(stocks['Ticker'], '2019-08-01', '2019-09-06')

In [ ]:
historical = pd.merge(combined, Price_History, how = 'outer', on = "Symbol", validate="many_to_many")

In [ ]:
historical['Value'] = historical['# of Shares'] * historical['Close']
historical.head()

In [ ]:
trend_data = historical.groupby(['Name', 'Day'])['Value'].sum().reset_index().sort_values(['Name', 'Day'])

In [ ]:
trend_data.head()

In [1]:
import chart_studio.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot, init_notebook_mode